.main {
    margin: auto;
    font: 1.1em/150% 'Segoe UI', Sans-Serif; 
    margin-top: 60px; 
    width: 800px;
}

a:hover {
    background-color: black;
    color: white;
}

li:hover {
    font-size: 1.3em;
}

li{
  color: white;
}

header{
    position: static;
}

div {
    width: 600px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    background-color: rgb(65, 105, 225);
    color: white;
}

img{
    animation: textwelle 5s;
}

#Schrift{
  color: aquamarine;
}

header>p{
  color: blue;
}

body h3{
  color: white;
}

body h2{
  color: darkcyan;
}

div+a{
  color: cyan;
}

div>a{
  color: deeppink;
}

table td{
  color:greenyellow
}


@keyframes textwelle {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }  
    70% {
      transform: scale(0.75);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;	
    }
  }

  @media screen and (min-width: 1024px) {
    font{
      font-size: 60px ;
    }
  }
 
  @media screen and (min-width: 720px) {
    font{
      font-size: 30px ;
    }
  }