#kategorie{
    height: 21px;
}

#gefriergut{
    height: 21px; 
}

#notiz{
    height: 21px;
}

#ablaufdatum{
    height: 21px;
}

#navigation a {
  color: black;
  text-align:end;
  font-size: 1.25em;
  border: 0.05em solid black;
  padding: 1em;
  display: inline;
}

#navigation a:hover {
  color: red;
}

table{
    text-align: center;
    align-content: center;
    margin-left: 180px;
    padding: 1px;
}

h3 {
  color: black;
  text-align: center;
  font-size: 2em;
}

.main {
    margin: auto;
    font: 1.1em/150% 'Segoe UI', Sans-Serif; 
    margin-top: 60px; 
    width: 800px;
    background-color: lightgray;
    text-align: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    font{
      font-size: 60px ;
    }
  }
 
  @media screen and (min-width: 720px) {
    font{
      font-size: 30px ;
    }
  }